/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Common CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  margin-top: 30px;
}
.container {
  max-width: 85%;
  margin: 0 auto;
  padding: 0 25px;
}
.primary-button {
  margin-top: 20px;
  border: 0;
  background: #e02c6d;
  padding: 0;
  border-radius: 41px;
  display: inline-flex;
}
.button-text,
.button-icon {
  display: inline-flex;
  align-items: center;
  padding: 15px 20px;
  font-size: 16px;
  color: #ffffff;
  height: 100%;
}
/* Header Section */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.logo h2 {
  font-size: 24px;
  font-weight: 700;
  color: #3a3a3a;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style-type: none;
}
.navigation li a {
  color: #3a3a3a;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 600;
}

.banner {
  height: calc(100vh - 190px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
}
.banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 40px;
}
.banner-left h1 {
  font-size: 45px;
  font-weight: 700;
  color: #3a3a3a;
}
.banner-left p {
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
}
.banner-right {
  padding-left: 40px;
}
.banner-right img {
  width: 75%;
  background-image: url("./images/circle-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
