/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

/* Common CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  margin-top: 30px;
}
.container {
  max-width: 85%;
  margin: 0 auto;
  padding: 0 25px;
}
/* Header Section */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.logo h2 {
  font-size: 24px;
  font-weight: 700;
  color: #3a3a3a;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style-type: none;
}
.navigation li a {
  color: #3a3a3a;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 600;
}
