/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Common CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  margin-top: 30px;
}
.container {
  max-width: 85%;
  margin: 0 auto;
  padding: 0 25px;
}
.primary-button {
  border: 0;
  background: #e02c6d;
  padding: 0;
  border-radius: 5px;
  display: inline-flex;
  cursor: pointer;
  position: relative;
  box-shadow: 0 7px 0 #b42358;
  top: 0;
}
.primary-button:active {
  top: 5px;
  box-shadow: 0 2px 0 #b42358;
}
.button-text,
.button-icon {
  display: inline-flex;
  align-items: center;
  padding: 15px 20px;
  font-size: 16px;
  color: #ffffff;
  height: 100%;
}
/* Header Section */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.logo h2 {
  font-size: 24px;
  font-weight: 700;
  color: #3a3a3a;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style-type: none;
}
.navigation li a {
  color: #3a3a3a;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 600;
}

.banner {
  height: calc(100vh - 190px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
}
.banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 40px;
}
.banner-left h1 {
  font-size: 45px;
  font-weight: 700;
  color: #3a3a3a;
}
.banner-left p {
  margin: 20px 0;
  font-size: 18px;
  font-weight: 600;
  color: #3a3a3a;
}
.banner-right {
  padding-left: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.banner-right img {
  width: 75%;
  background-image: url("./images/circle-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Product Section */

.product-section {
  margin-top: 40px;
  margin-bottom: 200px;
}
.product-section h2 {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 70px;
  color: #3a3a3a;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}
.product {
  width: 330px;
  height: 475px;
  padding: 10px;
  margin: 20px 0;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.product img {
  width: 100%;
}
.product h4 {
  /* padding: 10px 0; */
  font-weight: 500;
  font-size: 28px;
  color: #18191f;
}
.product h5 {
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}
.product span {
  color: #fb8200;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.product span p {
  color: #5e6366;
}
.product p {
  padding: 10px 0;
  color: #787885;
  font-size: 14px;
}
.see-more {
  background: #ffffff;
  box-shadow: none;
  border: 1px solid #e02c6d;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: 700;
  font-size: 16px;
}
.see-more span {
  color: #e02c6d;
}

/* Footer Section */
footer {
  height: 250px;
  background: #0a0826;
}
